body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.modal-dialog {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 25%) !important;
    min-width: 400px;
}

.login-title-container {
    padding-bottom: 10px;
}

.login-title-text {
    font-size: 24px;
    font-weight: bold;
}

.form-control {
    margin-bottom: 5px
}